*, :before, :after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fdfcfa;
  font-family: Raleway, sans-serif;
  line-height: 1.333;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.header {
  z-index: 99;
  background-color: #fdfcfa;
  width: 100%;
  padding: 20px 0 0;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;
}

.header-wrapper {
  background-color: #fff;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1220px;
  margin: auto;
  padding: 16px 48px;
  display: flex;
  box-shadow: 0 4px 2.5rem #00000014;
}

.logo {
  color: #303030;
  outline: none;
  font-family: Playfair Display, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-decoration: none;
}

.nav {
  align-items: center;
  gap: 36px;
  display: flex;
}

.nav__item {
  color: #303030;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  transition: all .3s;
}

.nav__item__cnt {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.nav__item__cnt__num {
  color: #fff;
  background-color: #d8232a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  display: flex;
  position: absolute;
  top: -7px;
  right: -10px;
}

.nav__item:hover {
  color: #c1121f;
}

.nav__button {
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #d8232a;
  border: 1px solid #d8232a;
  border-radius: 50px;
  min-width: 94px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  transition: all .3s;
}

.nav__button:hover {
  background-color: #c31f25;
  border: 1px solid #c31f25;
}

.nav__button.logout {
  color: #303030;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
}

.nav__button.logout:hover {
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
}

.footer {
  color: #606060;
  background-color: #d7d7d7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
}

.footer.fixed {
  position: fixed;
  bottom: 0;
}

.shimmer {
  max-width: 1140px;
  margin: 120px auto 16px;
}

.shimmer__intro {
  background-color: #f3f3f3;
  border-radius: 16px;
  height: 200px;
  margin: 0 0 32px;
}

.shimmer__title {
  background-color: #f3f3f3;
  border-radius: 8px;
  width: 226px;
  height: 34px;
  margin: 0 0 16px;
}

.shimmer__swiper {
  gap: 32px;
  padding: 0 0 8px;
  display: flex;
  overflow: hidden;
}

.shimmer__slide {
  background-color: #f3f3f3;
  border-radius: 8px;
  flex-shrink: 0;
  width: 422px;
  height: 252px;
  overflow: hidden;
}

.search {
  color: #303030;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  outline: none;
  width: 90%;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
}

.search-container {
  border: 1px solid #d7d7d7;
  border-radius: 50px;
  width: 400px;
  height: 48px;
  padding: 0 20px;
  position: relative;
}

.search-button {
  cursor: pointer;
  background: #f3f3f3 url("searchIcon.af4e3240.png") center / 16px no-repeat;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 6px;
  right: 12px;
}

.search__list {
  max-height: 200px;
  padding: 0 6px 0 0;
  list-style: none;
  overflow: auto;
}

.search__list-wrapper {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 6px;
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  overflow: hidden;
  box-shadow: 0 4px 2.5rem #00000014;
}

.search__list-wrapper.show {
  display: block;
}

.search__list-item {
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  transition: all .3s;
  display: block;
}

.search__list-item:hover {
  background-color: #f3f3f3;
  border-radius: 4px;
}

.search__list-text {
  color: #303030;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 320px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
}

.search__list::-webkit-scrollbar {
  background-color: #f3f3f3;
  border-radius: 50px;
  width: 8px;
}

.search__list::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 50px;
}

.home {
  max-width: 1140px;
  margin: 120px auto 0;
}

.home__head {
  color: #fff;
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
  font-size: 42px;
  font-weight: 700;
}

.home__head-container {
  cursor: default;
  background: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png") 0 -80px / cover no-repeat;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 0 32px;
  display: flex;
}

.home__title {
  color: #303030;
  padding: 0 0 16px;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
}

.home__container {
  padding: 0 0 32px;
}

.home__container#offers {
  overflow: hidden;
}

.home__container#topRes {
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  display: grid;
}

.home__swiper {
  gap: 32px;
  padding: 0 0 8px;
  display: flex;
  overflow: auto;
}

.home__swiper__slide {
  cursor: pointer;
  border-radius: 8px;
  flex-shrink: 0;
  overflow: hidden;
}

.home__swiper__img {
  height: 252px;
}

.home__swiper::-webkit-scrollbar {
  background-color: #f3f3f3;
  border-radius: 50px;
  height: 8px;
}

.home__swiper::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 50px;
}

.res-card {
  cursor: pointer;
  border-radius: 16px;
  text-decoration: none;
  transition: all .3s;
  overflow: hidden;
}

.res-card__img {
  object-fit: cover;
  width: 100%;
  height: 140px;
  display: block;
}

.res-card__info {
  border-top: 0;
  border-radius: 0 0 16px 16px;
  padding: 8px;
}

.res-card__row {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.res-card__name {
  color: #303030;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  overflow: hidden;
}

.res-card__rating {
  color: #fff;
  background-color: #267e3e;
  border-radius: 4px;
  padding: 0 2px 0 6px;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  position: relative;
}

.res-card__rating:after {
  content: "⭐";
  vertical-align: -1px;
  margin-left: 4px;
  font-size: 10px;
  display: inline-block;
}

.res-card__cuisine {
  color: #606060;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
}

.res-card__price {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.res-card__eta {
  color: #303030;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.res-card__veg {
  cursor: pointer;
  border-bottom: 4px solid #267e3e;
  border-radius: 16px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.res-card__veg:hover, .res-card:hover {
  scale: .95;
  box-shadow: 0 4px 2.5rem #00000014;
}

.user {
  padding: 32px 0 0;
}

.user__head {
  color: #303030;
  font-size: 42px;
  font-weight: 600;
}

.user__txt {
  color: #606060;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.user__img {
  object-fit: cover;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 32px;
  right: 0;
}

.user__img-dummy {
  background-color: #f3f3f3;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 32px;
  right: 0;
}

.about {
  max-width: 1140px;
  margin: 120px auto 0;
  position: relative;
}

.about__head {
  color: #303030;
  padding: 32px 0 0;
  font-size: 42px;
  font-weight: 600;
}

.about__head-name {
  font-family: Playfair Display, sans-serif;
}

.about__desc {
  color: #606060;
  max-width: 50%;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.about__desc--name {
  font-family: Playfair Display, sans-serif;
}

.cart {
  grid-template-columns: 70% 1fr;
  gap: 32px;
  max-width: 1140px;
  margin: 120px auto 32px;
  display: grid;
  position: relative;
}

.cart__empty {
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
  margin: 120px auto 32px;
  display: flex;
  position: relative;
}

.cart__empty__title {
  color: #909090;
  padding: 0 0 32px;
  font-size: 16px;
  line-height: 22px;
}

.cart__empty__cta {
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #d8232a;
  border: 1px solid #d8232a;
  border-radius: 50px;
  min-width: 124px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  transition: all .3s;
}

.cart__empty__cta:hover {
  background-color: #c31f25;
  border: 1px solid #c31f25;
}

.cart__empty__cta.logout {
  color: #303030;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
}

.cart__empty__cta.logout:hover {
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
}

.cart__lt {
  background-color: #fffafb;
  border-radius: 8px;
  padding: 16px;
}

.cart__lt__top {
  justify-content: space-between;
  align-items: center;
  padding: 0 0 32px;
  display: flex;
}

.cart__rt {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 16px;
}

.cart__rt__head, .cart__head {
  color: #303030;
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
}

.cart__clearAll {
  color: #303030;
  cursor: pointer;
  background-color: #d7d7d7;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  transition: all .3s;
}

.cart__clearAll:hover {
  color: #d7d7d7;
  background-color: #303030;
}

.cart__details {
  grid-template-columns: 376px repeat(3, 1fr);
  gap: 16px;
  padding: 0 0 16px;
  display: grid;
}

.cart__details__item {
  color: #303030;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.cart__details__item:not(:first-child) {
  text-align: center;
}

.cart__list {
  flex-direction: column;
  gap: 16px;
  height: 384px;
  padding: 0;
  display: flex;
  overflow: auto;
}

.cart__list::-webkit-scrollbar {
  background-color: #f3f3f3;
  border-radius: 50px;
  width: 8px;
}

.cart__list::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 50px;
}

.cart__item {
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  display: grid;
}

.cart__item__details {
  gap: 16px;
  display: flex;
}

.cart__item__details__lt {
  flex-shrink: 0;
  width: 120px;
}

.cart__item__details__rt {
  width: 240px;
}

.cart__item__img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  height: 80px;
}

.cart__item__name {
  color: #303030;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
}

.cart__item__desc {
  color: #606060;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 540px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
}

.cart__item__val {
  text-align: center;
}

/*# sourceMappingURL=index.1acf32eb.css.map */
