.header {
  z-index: 99;
  background-color: #fff;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1220px;
  margin: auto;
  padding: 16px 48px;
  display: flex;
  position: fixed;
  top: 20px;
  left: 50%;
  translate: -50%;
  box-shadow: 0 4px 2.5rem #00000014;
}

.header-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.logo {
  color: #303030;
  outline: none;
  font-family: Playfair Display, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-decoration: none;
}

.search {
  color: #303030;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  outline: none;
  width: 90%;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
}

.search-container {
  border: 1px solid #d7d7d7;
  border-radius: 50px;
  width: 400px;
  height: 48px;
  padding: 0 20px;
  position: relative;
}

.search-button {
  cursor: pointer;
  background: #f3f3f3 url("searchIcon.af4e3240.png") center / 16px no-repeat;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 6px;
  right: 12px;
}

.search__list {
  max-height: 200px;
  padding: 0 6px 0 0;
  list-style: none;
  overflow: auto;
}

.search__list-wrapper {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 6px;
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  overflow: hidden;
  box-shadow: 0 4px 2.5rem #00000014;
}

.search__list-wrapper.show {
  display: block;
}

.search__list-item {
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  transition: all .3s;
  display: block;
}

.search__list-item:hover {
  background-color: #f3f3f3;
  border-radius: 4px;
}

.search__list-text {
  color: #303030;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 320px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
}

.search__list::-webkit-scrollbar {
  background-color: #f3f3f3;
  border-radius: 50px;
  width: 8px;
}

.search__list::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 50px;
}

.nav {
  align-items: center;
  gap: 36px;
  display: flex;
}

.nav-item {
  color: #303030;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  transition: all .3s;
}

.nav-item:hover {
  color: #c1121f;
}

.nav-button {
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #d8232a;
  border: 1px solid #d8232a;
  border-radius: 50px;
  min-width: 94px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  transition: all .3s;
}

.nav-button:hover {
  background-color: #c31f25;
  border: 1px solid #c31f25;
}

.nav-button.logout {
  color: #303030;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
}

.nav-button.logout:hover {
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
}

.shimmer {
  max-width: 1140px;
  margin: 120px auto 16px;
}

.shimmer__intro {
  background-color: #f3f3f3;
  border-radius: 16px;
  height: 200px;
  margin: 0 0 32px;
}

.shimmer__title {
  background-color: #f3f3f3;
  border-radius: 8px;
  width: 226px;
  height: 34px;
  margin: 0 0 16px;
}

.shimmer__swiper {
  gap: 32px;
  padding: 0 0 8px;
  display: flex;
  overflow: hidden;
}

.shimmer__slide {
  background-color: #f3f3f3;
  border-radius: 16px;
  flex-shrink: 0;
  width: 422px;
  height: 252px;
  overflow: hidden;
}

.user {
  padding: 32px 0 0;
}

.user__head {
  color: #303030;
  font-size: 42px;
  font-weight: 600;
}

.user__txt {
  color: #606060;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.user__img {
  object-fit: cover;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 32px;
  right: 0;
}

.user__img-dummy {
  background-color: #f3f3f3;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 32px;
  right: 0;
}

.footer {
  color: #606060;
  background-color: #d7d7d7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
}

.footer.fixed {
  position: fixed;
  bottom: 0;
}

.about {
  max-width: 1140px;
  margin: 120px auto 0;
  position: relative;
}

.about__head {
  color: #303030;
  padding: 32px 0 0;
  font-size: 42px;
  font-weight: 600;
}

.about__head-name {
  font-family: Playfair Display, sans-serif;
}

.about__desc {
  color: #606060;
  max-width: 50%;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.about__desc--name {
  font-family: Playfair Display, sans-serif;
}

.contact {
  max-width: 1140px;
  margin: 120px auto 0;
}

.rupees-arial {
  vertical-align: -2px;
  margin-right: 2px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block !important;
}

.menu {
  grid-template-columns: 300px 1fr;
  gap: 30px;
  max-width: 1140px;
  margin: 120px auto 40px;
  display: grid;
  position: relative;
}

.menu__category {
  border-bottom: 1px dashed #d7d7d7;
  padding: 26px 0 0;
}

.menu__category:first-child {
  padding: 0;
}

.menu__category:last-child {
  border: none;
}

.menu__img {
  object-fit: cover;
  opacity: .9;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  height: 400px;
  position: sticky;
  top: 120px;
}

.menu__img-dummy {
  background-color: #d7d7d7;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.menu__info__scroll {
  height: 100%;
  padding-right: 20px;
  overflow: auto;
}

.menu__info__scroll::-webkit-scrollbar {
  background-color: #f3f3f3;
  border-radius: 50px;
  width: 8px;
}

.menu__info__scroll::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 50px;
}

.menu__info-container {
  border-bottom: 2px dashed #d7d7d7;
  padding: 16px 0;
}

.menu__info-container.first {
  padding: 0 0 16px;
}

.menu__info-container.second {
  gap: 8px;
  display: flex;
}

.menu__info-container.third {
  padding: 32px 0 16px;
}

.menu__info-container:last-child {
  border: none;
}

.menu__row {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menu__row-container {
  border-bottom: 2px dashed #d7d7d7;
  padding: 0 0 10px;
}

.menu__name {
  color: #303030;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 608px;
  font-size: 42px;
  font-weight: 600;
  overflow: hidden;
}

.menu__cuisines, .menu__area, .menu__cost {
  color: #606060;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.menu__cuisines:before, .menu__area:before, .menu__cost:before {
  margin-right: 4px;
}

.menu__area:before {
  content: "📌:";
}

.menu__cost {
  border-left: 2px solid #d7d7d7;
  padding-left: 8px;
}

.menu__cost:before {
  content: "💵:";
}

.menu__rating {
  color: #fff;
  background-color: #267e3e;
  border-radius: 4px;
  padding: 0 2px 0 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  display: inline-block;
  position: relative;
}

.menu__rating-container {
  gap: 8px;
  display: flex;
}

.menu__rating-total {
  color: #606060;
  border-left: 2px solid #d7d7d7;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
}

.menu__rating:after {
  content: "⭐";
  vertical-align: middle;
  margin-left: 4px;
  font-size: 14px;
  display: inline-block;
}

.menu__head {
  justify-content: space-between;
  align-items: center;
  padding: 0 0 24px;
  display: flex;
}

.menu__head__text {
  color: #303030;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.menu__head__arrow {
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: all .3s;
  position: relative;
}

.menu__head__arrow:before {
  content: "";
  border-bottom: 2px solid #303030;
  border-right: 2px solid #303030;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 6px;
  left: 50%;
  translate: -50%;
  rotate: 45deg;
}

.menu__head__arrow.expand {
  rotate: -180deg;
}

.menu__list {
  flex-direction: column;
  gap: 24px;
  height: 0;
  padding: 0;
  list-style: none;
  transition: all .3s;
  display: flex;
  overflow: hidden;
}

.menu__list.expand {
  height: auto;
  padding: 0 0 36px;
}

.menu__item {
  grid-template-columns: 1fr 150px;
  align-items: center;
  gap: 16px;
  display: grid;
}

.menu__item__info {
  flex-direction: column;
  gap: 4px;
  display: flex;
}

.menu__item__image {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  height: 100px;
}

.menu__item__image-container {
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  max-height: 100px;
  position: relative;
}

.menu__item__name, .menu__item__cost {
  color: #303030;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.menu__item__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 540px;
  overflow: hidden;
}

.menu__item__desc {
  color: #606060;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 540px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
}

.menu__item__cta {
  color: #303030;
  cursor: pointer;
  background-color: #e8e8e8;
  border: none;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  transition: all .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
}

.menu__item__cta:hover {
  color: #fff;
  background-color: #303030;
}

.menu__item__veg, .menu__item__nonVeg {
  border: 2px solid #009681;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  position: relative;
}

.menu__item__veg:before, .menu__item__nonVeg:before {
  content: "";
  background-color: #009681;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.menu__item__nonVeg {
  border: 2px solid #d8232a;
}

.menu__item__nonVeg:before {
  background-color: #d8232a;
}

.menu__scrollUp {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 64px;
  right: 42px;
  box-shadow: 0 4px 2.5rem #00000014;
}

.menu__scrollUp:before {
  content: "";
  background-color: #909090;
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  rotate: 90deg;
}

.menu__scrollUp:after {
  content: "";
  border-top: 2px solid #909090;
  border-left: 2px solid #909090;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 11px;
  left: 50%;
  translate: -50%;
  rotate: 45deg;
}

.login {
  max-width: 1140px;
  margin: 120px auto 0;
  position: relative;
}

.home {
  max-width: 1140px;
  margin: 120px auto 0;
}

.home__head {
  color: #fff;
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
  font-size: 42px;
  font-weight: 700;
}

.home__head-container {
  cursor: default;
  background: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png") 0 -80px / cover no-repeat;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 0 32px;
  display: flex;
}

.home__title {
  color: #303030;
  padding: 0 0 16px;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
}

.home__container {
  padding: 0 0 32px;
}

.home__container#offers {
  overflow: hidden;
}

.home__container#topRes {
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  display: grid;
}

.home__swiper {
  gap: 32px;
  padding: 0 0 8px;
  display: flex;
  overflow: auto;
}

.home__swiper__slide {
  cursor: pointer;
  flex-shrink: 0;
}

.home__swiper__img {
  height: 252px;
}

.home__swiper::-webkit-scrollbar {
  background-color: #f3f3f3;
  border-radius: 50px;
  height: 8px;
}

.home__swiper::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 50px;
}

.res-card {
  cursor: pointer;
  border-radius: 16px;
  text-decoration: none;
  transition: all .3s;
  overflow: hidden;
}

.res-card__img {
  object-fit: cover;
  width: 100%;
  height: 140px;
  display: block;
}

.res-card__info {
  border-top: 0;
  border-radius: 0 0 16px 16px;
  padding: 8px;
}

.res-card__row {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.res-card__name {
  color: #303030;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  overflow: hidden;
}

.res-card__rating {
  color: #fff;
  background-color: #267e3e;
  border-radius: 4px;
  padding: 0 2px 0 6px;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  position: relative;
}

.res-card__rating:after {
  content: "⭐";
  vertical-align: -1px;
  margin-left: 4px;
  font-size: 10px;
  display: inline-block;
}

.res-card__cuisine {
  color: #606060;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
}

.res-card__price {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.res-card__eta {
  color: #303030;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.res-card__veg {
  cursor: pointer;
  border-bottom: 4px solid #267e3e;
  border-radius: 16px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.res-card__veg:hover, .res-card:hover {
  scale: .95;
  box-shadow: 0 4px 2.5rem #00000014;
}

*, :before, :after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fdfcfa;
  font-family: Raleway, sans-serif;
  line-height: 1.333;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/*# sourceMappingURL=index.e8265c92.css.map */
