.user {
    padding: 32px 0 0;
    &__head {
        font-size: 42px;
        font-weight: 600;
        color: #303030;

    }
    &__txt {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: #606060;
    }
    &__img {
        position: absolute;
        width: 300px;
        height: 400px;
        top: 32px;
        right: 0;
        object-fit: cover;
        border-radius: 20px;
        &-dummy {
            position: absolute;
            width: 300px;
            height: 400px;
            background-color: #d7d7d7;
            border-radius: 20px;
            top: 32px;
            right: 0;
        }
    }
}