.search {
    width: 90%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #303030;
    border: none;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &-container {
        position: relative;
        width: 400px;
        height: 48px;
        border: 1px solid #d7d7d7;
        border-radius: 50px;
        padding: 0 20px;
    }
    &-button {
        position: absolute;
        width: 32px;
        height: 32px;
        background: url('../../../assets/images/searchIcon.png') no-repeat center;
        background-size: 16px;
        border: 1px solid #d7d7d7;
        border-radius: 50%;
        background-color: #f3f3f3;
        top: 6px;
        right: 12px;
        cursor: pointer;
    }
    &__list {
        max-height: 200px;
        overflow: auto;
        list-style: none;
        padding: 0;
        padding-right: 6px;
        &-wrapper {
            display: none;
            width: 100%;
            position: absolute;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 2.5rem rgba(0, 0, 0, .08);
            padding: 6px;
            top: 54px;
            left: 0;
            overflow: hidden;
            &.show {
                display: block;
            }
        }
        &-item {
            display: block;
            padding: 10px 10px 10px 20px;
            cursor: pointer;
            transition: 0.3s all ease;
            text-decoration: none;
            &:hover {
                background-color: #f3f3f3;
                border-radius: 4px;
            }
        }
        &-text {
            max-width: 320px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            color: #303030;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #f3f3f3;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #d7d7d7;
            border-radius: 50px;
        }
    }
}