@use '../base/variables' as *;

.cart {
    max-width: 1140px;
    position: relative;
    display: flex;
    gap: 32px;
    margin: 120px auto 32px;
    &__empty {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1140px;
        margin: 120px auto 32px;
        &__title {
            font-size: 16px;
            line-height: 22px;
            color: #909090;
            padding: 0 0 32px;
        }
        &__cta {
            min-width: 124px;
            font-size: 14px;
            line-height: 40px;
            font-weight: 600;
            color: #fff;
            border: none;
            background-color: #d8232a;
            border: 1px solid #d8232a;
            border-radius: 50px;
            padding: 0 20px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: 0.3s all ease;
            &:hover {
                background-color: #c31f25;
                border: 1px solid #c31f25;
            }
            &.logout {
                color: $gray-900;
                border: 1px solid #f3f3f3;
                background-color: #f3f3f3;
                &:hover {
                    border: 1px solid #e8e8e8;
                    background-color: #e8e8e8;
                }
            }
        }        
    }
    &__lt {
        background-color: $red-10;
        border-radius: 8px;
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 16px 24px;
        }
    }
    &__rt {
        width: 310px;
        height: 480px;
        background-color: $gray-100;
        border-radius: 8px;
        padding: 16px;
        flex-shrink: 0;
        &__wrp {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        &__head {
            font-size: 24px;
            line-height: 34px;
            font-weight: $font-weight-semi-bold;
            color: $gray-900;
        }
        &__cta {
            width: 100%;
            font-size: 14px;
            line-height: 40px;
            font-weight: 600;
            color: #fff;
            border: none;
            background-color: #d8232a;
            border: 1px solid #d8232a;
            border-radius: 50px;
            padding: 0 20px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: 0.3s all ease;
            margin-top: auto;
            &:hover {
                background-color: #c31f25;
                border: 1px solid #c31f25;
            }            
        }
        &__total {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dashed $gray-300;
            padding: 16px 0;
            margin-bottom: 32px;
        }
        &__list {
            max-height: 312px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-size: $font-size-md;
            border-bottom: 1px dashed $gray-300;
            padding: 16px 16px 16px 0;
            &-item {
                display: flex;
                justify-content: space-between;
            }
            &-name {
                max-width: 180px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    &__head {
        font-size: 24px;
        line-height: 34px;
        font-weight: $font-weight-semi-bold;
        color: $gray-900;
        &__items {
            font-size: $font-size-lg;
        }
    }
    &__clearAll {
        font-size: 14px;
        line-height: 32px;
        font-weight: 600;
        background-color: $gray-100;
        color: $gray-900;
        border-radius: 20px;
        padding: 0 16px;
        cursor: pointer;
        transition: 0.3s all ease;
        &:hover {
            background-color: $gray-900;
            color: $white;
        }
    }
    &__details {
        display: grid;
        grid-template-columns: auto;
        gap: 16px;
        padding: 16px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 8px;
        &__item {
            font-size: $font-size-lg;
            line-height: 20px;
            font-weight: $font-weight-medium;
            color: $gray-900;
            &:not(:first-child) {
                text-align: center;
            }
        }
        &__nav {
            display: grid;
            grid-template-columns: 476px repeat(3, 1fr);
            gap: 16px;
            padding: 0 0 16px;
        }
    }
    &__list {
        max-height: 318px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #f3f3f3;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #d7d7d7;
            border-radius: 50px;
        }
    }
    &__item {
        display: grid;
        grid-template-columns: 482px repeat(3, 1fr);
        gap: 16px;
        &__details {
            display: flex;
            gap: 16px;
            &__lt {
                width: 120px;
                flex-shrink: 0;
            }
            &__rt {
                width: 320px;
            }
        }
        &__img {
            width: 100%;
            height: 80px;
            border-radius: 8px;
            object-fit: cover;
        }
        &__resName {
            display: block;
            font-size: $font-size-sm;
            color: $gray-700;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 0 4px;
            cursor: pointer;
        }
        &__name {
            font-size: $font-size-lg;
            line-height: 20px;
            font-weight: $font-weight-medium;
            color: $gray-900;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__desc {
            display: -webkit-box;
            max-width: 540px;
            font-size: $font-size-sm;
            line-height: 20px;
            font-weight: 400;
            color: $gray-700;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        &__val {
            text-align: center;
        }
        &__quant {
            max-width: 100px;
            display: flex;
            justify-content: center;
            gap: 12px;
            background-color: $gray-200;
            border-radius: 20px;
            padding: 4px 16px;
            margin: auto;
        }
        &__cross {
            position: relative;
            width: 24px;
            height: 24px;
            margin: auto;
            cursor: pointer;
            transition: 0.3s all ease;
            &::before, &::after {
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 2px;
                background-color: $gray-900;
                rotate: 45deg;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
            }
            &::before {
                rotate: -45deg;
            }
            &:hover {
                rotate: 90deg;
            }
        }
    }
}