.shimmer {
    max-width: 1140px;
    margin: 120px auto 16px;
    &__intro {
        height: 200px;
        border-radius: 16px;
        background-color: #f3f3f3;
        margin: 0 0 32px;
    }
    &__title {
        width: 226px;
        height: 34px;
        background-color: #f3f3f3;
        border-radius: 8px;
        margin: 0 0 16px;
    }
    &__swiper {
        display: flex;
        gap: 32px;
        padding: 0 0 8px;
        overflow: hidden;
    }
    &__slide {
        width: 422px;
        height: 252px;
        background-color: #f3f3f3;
        border-radius: 16px;
        overflow: hidden;
        flex-shrink: 0;
        border-radius: 8px;
    }
}