@use "../base/variables" as *;

.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: 120px auto 0;

    &__img {
        object-fit: cover;
    }

    &__title {
        font-size: $font-size-xl;
        line-height: 24px;
        font-weight: $font-weight-semi-bold;
        padding: 0 0 8px;
        color: $gray-900;

        &--fail {
            color: $red-900;
        }

        &--success {
            color: $green-900;
        }
    }

    &__message {
        font-size: $font-size-lg;
        line-height: 24px;
        color: $gray-500;
        padding: 0 0 16px;
    }

    &__cta {
        min-width: 124px;
        font-size: 14px;
        line-height: 40px;
        font-weight: 600;
        color: #fff;
        border: none;
        background-color: #d8232a;
        border: 1px solid #d8232a;
        border-radius: 50px;
        padding: 0 20px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s all ease;

        &:hover {
            background-color: #c31f25;
            border: 1px solid #c31f25;
        }

        &.logout {
            border: 1px solid #f3f3f3;
            background-color: #f3f3f3;

            &:hover {
                border: 1px solid #e8e8e8;
                background-color: #e8e8e8;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .payment {
        padding: 0 16px;

        &__message {
            text-align: center;
        }
    }
}