@use '../base/variables' as *;

.nav {
    display: flex;
    align-items: center;
    gap: 36px;
    &__item {
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        color: #303030;
        text-decoration: none;
        transition: 0.3s all ease;
        cursor: pointer;
        &__cnt {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__num {
                font-family: "Inter", serif;
                position: absolute;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: $white;
                background-color: $red-900;
                border-radius: 50%;
                top: -7px;
                right: -10px;
            }
        }
        &:hover {
            color: #c1121f;
        }
    }
    &__button {
        min-width: 94px;
        font-size: 14px;
        line-height: 40px;
        font-weight: 600;
        color: #fff;
        border: none;
        background-color: #d8232a;
        border: 1px solid #d8232a;
        border-radius: 50px;
        padding: 0 20px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s all ease;
        &:hover {
            background-color: #c31f25;
            border: 1px solid #c31f25;
        }
        &.logout {
            color: #303030;
            border: 1px solid #f3f3f3;
            background-color: #f3f3f3;
            &:hover {
                border: 1px solid #e8e8e8;
                background-color: #e8e8e8;
            }
        }
    }
}