// TYPOGRAPHY STYLES 
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// COLORS
$red-900: #d8232a;
$red-900-hover: #c31f25;
$red-700: #F39898; 
$red-400: #ffccd1; 
$red-50:  #ffebee;
$red-10:  #fffafb;

$gray-900: #303030;
$gray-700: #606060;
$gray-500: #909090;
$gray-300: #d7d7d7;
$gray-200: #e8e8e8;
$gray-100: #f3f3f3;

$green-900: #009681; 
$green-700: #80cbc0; 
$green-400: #b2dfd8; 
$green-50:  #e0f2f0; 
$green-10:  #edfaf9;

$white: #fff;